<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <script src="/views/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/views/css/resets.css">
    <link rel="stylesheet" href="/views/css/index.css">
    <link rel="stylesheet" href="/views/css/menu.css">
    <link rel="stylesheet" href="/views/css/table.css">
    <link rel="stylesheet" href="/views/css/list.css">
    <link rel="stylesheet" href="/views/css/animate.css">
</head>
<body>

{{menu | raw}}