<div class="table">
    <div class="center">
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Salary</td>
                    <td>From</td>
                </tr>
            </thead>
            <tbody>
                {{table | raw}}
            </tbody>
        </table>

        <div class="button">
            {{button | raw}}
        </div>
    </div>
</div>

<script>

    $('.load').on('click', showData);

    function showData() {
        var loadCount = parseInt($('.load').attr('data-row'));
        var tdCount = $('.table .center tbody tr').length;
        if( tdCount > loadCount ){
            $('.load').attr('data-row', tdCount);
        }

        $.ajax({
            'url': '/app/ajax/ajax.php',
            'type':'POST',
            'data':{'count':loadCount},
            'success':function(response){
                console.log(response);
                let j_parse = JSON.parse(response);

                var table;
                $.each(j_parse, function(key, value){
                    table = `<tr class="animation"><td>`+ value.middle_name +` `+ value.first_name +` `+ value.last_name +`</td>
                    <td>`+ value.name +`</td>
                    <td>`+ value.amount +`$</td>
                    <td>`+ value.created_at +`</td>
                    </tr>`;
                    $('tbody').append(table);
                });
                $('.animation').css({'visibility':'visible'}).hide().fadeIn(1000);
                setTimeout(function(){
                    $('.animation').removeClass('animation');
                }, 500);

                console.log(loadCount);
                $('.load').attr('data-row', loadCount +=5);
            }
        });
    }
</script>