.table {
    width: 100%;
    min-height: 100px;
}

.table .center{
    width: 1100px;
    min-height: inherit;
    margin: 0 auto;
}

.table .center > table{
    width: 50%;
    margin: 20px auto;
}

.table .center > table > thead > tr{
    /*background: #FFFFFF;*/
    background: white;
    color: #0000a9;
    text-align: center;
    /*border: 2px solid #256DFF;*/
}

.table .center > table > thead > tr > td{
    border: 2px solid #0000a9;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.table .center > table > tbody > tr > td:nth-child(2), td:nth-child(3){
    text-align: center;
    /*vertical-align:top*/
}

.table .center > table > thead > tr > td:hover{
    background: darkblue;
    color: white;
    /*border: 2px solid white;*/
}

.table .center > table > tbody > td{
    border-bottom: 1px solid black;
}

.table .center .button{
    width: 100%;
}

.table .center .button .load {
    width: 150px;
    height: 49px;
    display: block;
    background: #FFFFFF;
    color: #0000a9;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 0 auto;
    border: 1px solid #0000a9;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.table .center .button .load:hover{
    background: #0000a9;
    color: white;
    border: 1px solid white;
}

.table .center table .animation{
    visibility: hidden;
}